<mat-card class="common-card">
  <mat-card-header>
    <mat-card-title>Поддержать нас</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h3>Поддержать нас, выразить благодарность за проект через пожертвование средств:</h3>
    <p> <a href="https://yoomoney.ru/to/410011073392792"
           target="blank">Ссылка на yoomoney</a></p>
    <p>Или на карту: 2200700621185684</p>
    <p>Мы будем очень благодарны за любую поддержку!</p>
    <h3>Контакты для связи:</h3>
    <p>
      Моя почта: <a href="mailto:playerro@yandex.ru">playerro&#64;yandex.ru</a>
      <br>
      Мой telegram: <a href="https://www.t.me/playerro">&#64;playerro</a>
    </p>
  </mat-card-content>
</mat-card>
