<mat-card class="about-card">
  <mat-card-header>
    <mat-card-title>Немного о нас</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Доброго времени суток, меня зовут Владимир. В ноябре 2022 года моей маме Татьяне Федоровне поставили диагноз - деменция (болезнь Альцгеймера).
    </p>
    <p>
      Помимо приема лекарств, врач прописал каждодневные <strong>когнитивные упражнения</strong> - занятия для тренировки и поддержания памяти и когнитивных навыков.
      С тех пор, уже больше года, каждый день я составляю упражнения для мамы и мы упорно ими занимаемся, борясь с этой страшной болезнью.
    </p>
    <p>
      За время занятий у меня накопилось более 300 документов с упражнениями, которыми я бы хотел поделиться.
      Поиск и составление разнообразных упражнений занимает время, здесь вы сможете скачать уже готовые упражнения из моего архива, или найти полезные ссылки для составления своих
    </p>
    <p><strong>Важно!</strong> Данные упражнения не заменяют лечение, не являются врачебной рекоммендацией и помимо письменных упражнений мы занимаемся физической зарядкой, прогулками и т.д.</p>
    <p>
      На этом ресурсе вы сможете найти:
    </p>
    <ul>
      <li> <a  routerLink="/documents">Список готовых упражнений (пополняемый архив)</a></li>
      <li> <a  routerLink="/exercises">Отдельные упражнения - из которых можно составить свои упражнения</a></li>
      <li> <a  routerLink="/links">Ссылки на источники, где я беру упражнения </a></li>
      <li> <a  routerLink="/support">Поддержать нашу семью, выразить благодарность </a></li>
      <li> <a  routerLink="/contacts">Страница с контактами для связи</a></li>
  </ul>

    <p><strong>Поддержать, выразить благодарность через пожертвование средств: </strong> <a href="https://yoomoney.ru/to/410011073392792"
                                                                          target="blank">Ссылка</a></p>
    <p>Мы будем благодарны за любую поддержку! </p>
    <p>
      Моя почта: <a href="mailto:playerro@yandex.ru">playerro&#64;yandex.ru</a>
      <br>
      Мой telegram: <a href="https://www.t.me/playerro">&#64;playerro</a>
    </p>
  </mat-card-content>
</mat-card>

